body {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color:#FFFFFF;

    font-family: Calibri, sans-serif;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

header, main, footer {
    flex-shrink: 0;
}

header {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /*background-color:#CCCCCC;*/
    background-color:#fafafb;
    padding: 5px 10px 5px 10px;
    height: 50px;
    border-bottom: 1px solid #00968812;
}

header a {
    color: #009688;
    text-decoration: none;
    padding: 0 10px 0px 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.text-black{
    font-size: 20px;
    font-weight: bold;
    color: #444444 !important;
}

.logo {
    font-size: 24px;
    float: left;
    /*color: #edb228;*/
    color: #9E9E9E
}
.logo small{
    font-size: 16px
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    /*margin-right: 50px;*/
}

.navigation a {
    /*border-bottom: 2px solid #ffffff;*/
    border-radius: 2px;
    width: 60px;
    margin-right: 11px;
    padding: 8px;
    display: inline-block;
}
.navigation a.active {
    /*color: #8BC34A;*/
    background-color: white;

    /*font-weight: bold;*/
    /*border-bottom: 2px solid white;*/
}
.navigation a:hover{
    /*color: greenyellow;*/
    background: white;
    border-bottom: 2px solid yellow;
}
main {
    flex-grow: 1;
    padding: 20px;
}


.main {
    display: flex;
    /*min-height: 500px;*/
    min-height: calc(100vh - 40vh);
}
.main > article {
    flex: 1;
    padding: 5px;
}
article div{
    flex: 1;

    /*text-align: center;*/
}
.main > nav,
.main > aside{
    display: flex;
    flex: 0.2;
    /*background: #fafafb;/*/
}

.main > nav {
    flex: 0.2;
}
.admin{
    /*display: flex;*/
}
.admin hr ,hr{
    width: 100%;
    margin: 15px 0;
    background: transparent;
    height: 0;
    border: none;
    border-bottom: 1px solid #d4d4d4;
}
.meetup-title{
    padding: 15px 0px 10px 5px;
    /*flex: 1;*/
    width: 100%;
    color: #009688;
    margin-bottom: 10px;
}
.meetup-container{
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    /*flex-direction: row;*/
    justify-content: space-between;
}
.meetup-container a{
    text-decoration: none;
}
.meetup-item{
    font-size: 4vh;
    color: white;
    margin: .1em;
    margin-bottom: 20px;
    /*padding: .3em;*/
    border-radius: 8px;
    flex: 1 0 400px;
    box-sizing: border-box;
    height: 356px;
    box-shadow: 0 0 2px 0 rgba(46,62,72,.12), 0 2px 4px 0 rgba(46,62,72,.12);
    border: 1px solid #f0f8fffa;
}
.admin-page .meetup-item{
     height: 400px;
}
.admin-page .meetup-item{
     height: 410px;

}
.meetup-item:hover{
    box-shadow: 0 0 4px 0 rgba(46,62,72,.12), 0 4px 12px 0 rgba(46,62,72,.12);
    transform: translateY(-1px);
}
.m-img{
    height: 175px;
}
.m-img img{
    background-position: 50%;
    background-size: cover;
    border-radius: 8px 8px 0 0;
    height: 100%;
    position: relative;
    width:100%;
}

.m-btn{
    float: right;
    background: #009688;
    padding: 6px;
    border-radius: 5px;
    font-weight: bolder;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}

.m-detail{
    /*padding: 5px;*/
    overflow: hidden;
    text-overflow: ellipsis;
}
.m-time{
    text-align: center;
    font-size: 17px;
    padding: 7px;
    color: rgba(46,62,72,.6);
}
.m-content{
   font-size: 20px;
    fill: #2e3e48;
    stroke: transparent;
    color: #2e3e48;
    text-align: center;
    border-bottom: 1px dotted #9e9e9e26;
    border-top: 1px dotted #9e9e9e26;
    height: 100px;
}
.m-content p{
    font-weight: 500;
}
.m-location{
    font-size: 19px;
    text-align: center;
    padding: 7px;
    color: #009688;
}
.m-admin{
     font-size: 19px;
    text-align: center;
    padding: 7px;
    color: #009688;
     border-top: 1px dotted #9e9e9e26;
}
.m-admin-btn{
    font-weight: bolder;
    text-decoration: none;
    margin-bottom: 10px;
    padding: 6px 33px;
    width: fit-content;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    color: white;
    margin-top: 10px;
    font-size: 15px;
    box-sizing: border-box;
}
.edit{
    float: left;
    background: #03A9F4;

}
.delete{
   float: right;
   background: #E91E63;
}

.clearfix{
    clear: both;
}
.m-table{
    width: 100%;
    box-sizing: border-box;
    /*margin-top: 30px;*/
    border-bottom: 1px solid white;
    padding: 5px;
    border-radius: 5px 5px 0 0;
    background: #f0f8fffa;
}
.m-title{
    width: 657px;
    padding-right: 9px;
}


/*form styles*/
form{
    display:inline-block;
}
form p{
    margin-bottom: 1rem;
}
label {
    display: inline-block;
    margin-bottom: 9px;
    font-size: 18px;
}
article .sub-container{
    /*margin: 0 auto;*/
    background: #f0f8ff9c;
    padding: 15px;
    border-radius: 5px;
}
input , textarea{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 0.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-bottom: 1rem;
}
button, input {
    overflow: visible;
}
.login, .register{
    margin: 0 auto;
    margin-top: 50px;
    width: 250px;
    display: flex;
}
.meetup-create{
    margin: 0 auto;
    margin-top: 50px;
    width: 70%;
    display: flex;
}
.meetup-create input , .meetup-create textarea{
    display: block;
    width: 200%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 0.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-bottom: 1rem;
}
.meetup-create button{
    width: fit-content;
    padding: 10px 50px;
    background-color: #009688;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    color: white;
    margin-top: 10px;
    font-size: 15px;
    box-sizing: border-box;
}

.sub-container p{
   text-align: center;
}

.submit{
    background: #009688;
    padding: 6px;
    border-radius: 5px;
    font-weight: bolder;
    color: white;
    display: block;
    width: 112%;
}
.footer{
    height: 30px;
    padding-bottom: 5px;
    color: white;
    text-align: center;
    background-color:#fafafb;
    position: fixed;

}
.login-page footer{
   position: absolute;
}

/*view meetup styles*/
.meetup .meetup-container {
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    justify-content: space-between;
    box-shadow: 0 0 2px 0 rgba(46,62,72,.12), 0 2px 4px 0 rgba(46,62,72,.12);
    border: 1px solid #f0f8fffa;
    height: auto;
    border-bottom: none;
}

.meetup .meetup-title {
    padding: 15px 0px 10px 5px;
    width: 100%;
    color: #009688;
    margin-bottom: 10px;
    /*text-align: center;*/
}
.meetup .meetup-item {
    font-size: 4vh;
    color: white;
    border-radius: 8px;
    flex: 1 0 400px;
    box-sizing: border-box;
    height: 315px;
    border:none;
    box-shadow: none;
    margin: unset;
    margin-bottom: unset;
}
.meetup .m-img img {
    background-position: 50%;
    background-size: cover;
    border-radius: 8px;
    height: 180%;
    position: relative;
    width: 100%;
}
.meetup .meetup-item:hover{
    box-shadow: unset;
    transform: unset;
}
.meetup .m-detail {
    /* padding: 5px; */
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 16px;
}
.meetup .m-time {
    text-align: center;
    font-size: 17px;
    padding: 10px;
    color: rgba(46,62,72,.6);
}
.meetup .m-content {
    font-size: 18px;
    stroke: transparent;
    color: #2e3e48;
    text-align: justify;
    border-bottom: 1px dotted #9e9e9e26;
    border-top: 1px dotted #9e9e9e26;
    height: 211px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.meetup .m-location {
    font-size: 19px;
    text-align: center;
    padding: 7px;
    color: #009688;
}

.question .meetup-item{
     border:none;
    box-shadow: none;
    height: auto;
}
.question .m-time {
    text-align: left;
    padding: unset;
    margin-bottom: 15px;
}
.question .m-time img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    float: left;
    margin-right: 13px
}
.question .q-name{
    font-weight: bolder;
    font-size: 20px;
}
.question .q-time{
    font-style: oblique;
    color: #4CAF50;
}

.question .m-content {
    font-size: 18px;
    stroke: transparent;
    color: #2e3e48;
    text-align: justify;
    border-bottom: none;
    /*border-top: none;*/
    height: auto;
    text-overflow: ellipsis;
    overflow: hidden;
}

.post-question textarea{
    margin-top: 25px;
    width: 438%;
    min-height: 121px;
    resize: vertical;
    padding: 10px;
    box-sizing: border-box;
    font-size: 15px;
    line-height: 1.5em;
    border: 1px solid #a5a5a5;
}
.post-question .m-content{
    margin-left:58px;
}
.post-question button{
    padding: 10px 50px;
    background-color: #0095ff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    color: white;
    margin-top: 10px;
    font-size: 15px;
    box-sizing: border-box;
}
footer {
    background:#fafafb;
    height: 30px;
    margin-top:20px;
    padding-bottom: 20px;
    text-align: center;
    color: #9E9E9E;
    
    left: 0;
    bottom: 0;
    width: 100%;
}

@media (min-width: 410px) {
   .meetup-container .meetup-item {
    max-width: calc(100% - 10px);
  } 
  .meetup .meetup-container .meetup-item {
    max-width: calc(100% - 0px);
  } 
  .meetup-create form , form{
    max-width: calc(50% - 0px);
  }

}
@media (min-width: 410px){
    .post-question textarea{
     max-width: calc(200% - 0px);
  }
  .post-question textarea{
     max-width: calc(200% - 0px);
  }
}
@media (max-width: 620px){
    .logo small{
    display:none;
  }
  .post-question textarea{
     max-width: calc(200% - 0px);
  }
}
@media (min-width: 620px) {
   .meetup-container .meetup-item {
    /*max-width: calc(33.33333% - 10px);*/
    max-width: calc(100% - 10px);
  } 
  .meetup .meetup-container .meetup-item {
    /*max-width: calc(33.33333% - 10px);*/
    max-width: calc(100% - 0px);
  }
  .post-question textarea{
     max-width: calc(200% - 0px);
  }
   
}
@media (min-width: 900px) {
  .meetup-container .meetup-item {
    max-width: 328px;
    /*max-width: calc(25% - 10px);
    /*max-width: calc(33.33333% - 10px);*/
  }
  .meetup .meetup-container .meetup-item {
    max-width:100%;
    /*max-width: calc(25% - 10px);
    /*max-width: calc(33.33333% - 10px);*/
  }
  .post-question textarea{
     max-width: calc(250% - 0px);
  }
}
@media (min-width: 1200px) {
  .meetup-container .meetup-item {
    max-width: 300px;
  }
  .meetup .meetup-container .meetup-item {
    max-width: 477px;
  }
  .post-question textarea{
     max-width: calc(500% - 0px);
  }
}